.secondary-bar {
    position: absolute;
    top: calc(100% - 200px);
    left: 70px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.secondary-bar > ul {
    float: left;
    list-style: none;
    width: 120px;
    background-color: #eee;
    padding-inline-start: 0px;
    margin: 5px;
    max-height: 100px;
    overflow: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.secondary-bar > ul::-webkit-scrollbar {
    display: none;
}

.secondary-bar > ul > li {
    height: 25px;
    margin: auto;
}

.list-head {
    padding: 5px;
    color: #fff;
    background-color: #555;
}

.list-head > span {
    margin-left: 5px;
}

.list-item {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-item:hover {
    cursor: pointer;
    background-color: #ddd;
}
